#Looking_for_this {
	border-bottom: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
	clear: both;
	float: right;
	padding: 15px 0px;
	width: 100%;

}
#Looking_for_this h3 {
	font-family:Georgia,serif;
	font-size: 14px;
	font-weight: bold;
	color:#F00;
	padding-left: 15px;
}
#Looking_for_this img {
	padding-left: 35px;
}



//Edits from 5/20/15
#Looking_for_this {
	border-bottom: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
	border-top: 1px solid #B2B2B2;
	-moz-box-shadow: 0px 0px 7px #B2B2B2;
    -webkit-box-shadow: 0px 0px 7px #B2B2B2;
    box-shadow: 0px 0px 7px #B2B2B2;
	clear: both;
	float: right;
	padding: 15px 0px;
	width: 100%;

}
#Looking_for_this h3 {
}
#Looking_for_this img {
	padding-left: 35px;
}
#db_record {
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 14px;
	padding: 0 0 10px 0;
}
#db_record img {
	padding-right:5px;
}
.widgetHeader{
	padding:0 0 10px 0;
	color:#000;
	font-family:Georgia,serif;
	font-size: 14px;
	font-weight: bold;
	color:#000;
	padding-left: 15px;

}